	<div class="divTable">
	<h5>Booking Details </h5>
	<p style="text-align:right"><input type="text" ng-model="nameFilter" placeholder="Search..."/></p>
    <table class="tableGrid">
		<thead>
		  <tr><th>Sl</th><th>Name</th><th>Source</th><th>Destination</th><th>Time</th><th>Car Number</th><th colspan="2"><button ng-click="addBooking()"><span class="glyphicon glyphicon-plus"></span></button></th></tr>
		</thead>
		<tbody>
		  <tr ng-repeat="booking in bookingsList | filter: nameFilter">
			<td>{{$index + 1}}<input type="hidden" ng-model = "booking._id" /></td>
  
			<td>
			<select ng-model="booking.name" ng-options="employee._id as employee.name for employee in employeesList"></select>	

			</td>	
			
			<td><select ng-model="booking.source" ng-options="officelocation._id as officelocation.location + ', ' + officelocation.city for officelocation in officeLocationsList"></select>	</td>	

			<td><select ng-model="booking.destination" ng-options="location._id as location.location for location in locationsList"></select>	</td>	
			
			<td><input ng-model="booking.time" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="true" /> </td>
			
			
			<td>
				<select ng-model="booking.carnumber" ng-options="car._id as car.carnumber for car in carNumbersList" ng-change="checkBooking($index)" ></select>	
			</td>			
			<td>
			<a href="#" ng-disabled="saveEnabled" ng-click="saveBooking($index)" class="icons"><i class="fa fa-edit"></i></a>
			<a href="#" ng-click="removeBooking($index)" class="icons"><i class="fa fa-trash"></i></a>
			</td>
		  </tr>
		</tbody>
	</table>
	</div>
  

   
  