
<div class="header" ng-app="myApp" ng-controller="HeaderCtrl">

  <ul ng-if="isLoggedin == true" class="topnav" style="float:left">
     <li><a href="#/home"><i class="fa fa-home"></i> home</a></li>
    <li><a href="#/cars"><i class="fa fa-car"></i> cars</a></li>
    <li><a href="#/location"><i class="fa fa-location-arrow"></i> location</a></li>
    <li><a href="#/office"><i class="fa fa-building"></i> office </a></li>	
	 <li><a href="#/booking"><i class="fa fa-link"></i> book</a></li>
	 <li><a href="#/employee"><i class="fa fa-user"></i> employee</a></li>	 
	<li><a href="#/travelroute"><i class="fa fa-road"></i> travelroute</a></li> 	 
	<!--  <li><a href="#/report">report</a></li>	 	--> 
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

	<div ng-if="isLoggedin == false" class="loginbtn"><a href="#/login">Login</a></div>
	<div ng-if="isLoggedin == true" class="loginbtn"><span>{{username}}</span> &nbsp; &nbsp; <a ng-click="logoutUser()" href="javascript:void(0);" >Logout</a></div>
	
</div>
<div style="clear:both"></div>