
   <div class="divTable">
	<h5>Current Bookings List </h5>
	<p style="text-align:right"><input type="text" ng-model="nameFilter" placeholder="Search..."/></p>
    <table class="tableGrid">
		<thead>
		  <tr><th>Sl</th><th>Name</th><th>source</th><th>detsination</th><th>time</th><th>carnumber</th></tr>
		</thead>
		<tbody>
		  <tr ng-repeat="booking in bookingList | filter: nameFilter">
			<td>{{$index + 1}}<input type="hidden" ng-model = "booking._id" /></td>
			<td><label ng-model = "booking.name" /><span>{{getEmployeeNamebyId(booking.name)}}</span></td>
			<td><label ng-model = "booking.source" /><span>{{getOfficeLocbyId(booking.source)}}</span></td>		
			<td><label ng-model = "booking.destination" /><span>{{getLocbyId(booking.destination)}}</td>				
			<td><label ng-model = "booking.time" /><span>{{booking.time}}</span></td>				
			<td><label ng-model = "booking.carnumber" /><span>{{getCarNumberbyId(booking.carnumber)}}</span></td>				

		  </tr>
		</tbody>
	</table>
	</div>

